# Python
__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Environments
.venv/
.env

# Data & artifacts
data/raw/
data/processed/
artifacts/
outputs/
mlruns/

# Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
